@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .Site-Title {
    font-family: "Press Start 2P", cursive;
    @apply text-2xl normal-case;
  }
}

@layer components {
  body {
    @apply place-content-center min-h-screen;
  }
  .Main {
    @apply bg-green-400 w-auto h-full;
  }
  .Main canvas {
    @apply w-full h-full;
  }
  .Main video {
    @apply hidden;
  }
  /** Gallery Box **/
  .Gallery {
    @apply w-56 h-auto text-white;
  }
  .Gallery img {
    @apply w-full h-auto;
  }
  .Gallery-Grid {
    @apply grid w-screen h-screen grid-cols-6 grid-rows-6 gap-2 p-5;
  }
  /** Picture Box **/
  .Picture {
    @apply p-4 bg-black relative inline-block;
  }
  /** Sticker Box **/
  .Stickers {
    @apply h-full carousel carousel-vertical rounded-box;
  }
  .Sticker-Tape {
    @apply h-fit w-fit carousel-item btn bg-transparent hover:bg-transparent border-hidden;
  }
  .Header {
    @apply text-base;
  }
  .Header h1 {
    @apply text-2xl font-bold cursor-auto;
  }
  .Title-Input {
    @apply input input-bordered input-md;
  }
  .Dashboard {
    @apply flex flex-wrap justify-center items-center overflow-hidden mr-40 ml-40;
  }
  /* * Card * */
  .Card-Box {
    @apply card shadow-md border-4 border-black;
  }
}
